.downloadsContentBlock {
  /* padding-left: 165px; */
  /* padding-left: 1rem; */
}

.downloadsContentBlock h3 {
  display: block;
  text-align: left;
}

.downloadsContentBlock p {
  text-align: left;
}
