.downloadsContentBlock {
  /* padding-left: 165px; */
  /* padding-left: 1rem; */
}

.downloadsContentBlock h1 {
  display: block;
  text-align: left;
  padding-left: 1rem;
}

.downloadsContentBlock p {
  text-align: left;
  padding-left: 1rem;
}
