.homeContentBlock {
  /* padding-left: 165px; */
  padding-left: 1rem;
}

.homeContentBlock h1 {
  display: block;
  text-align: left;
}

.homeContentBlock p {
  display: block;
  text-align: left;
  margin-bottom: 3rem;
}
