.tutorialContentBlock {
  padding-left: 1rem;
  text-align: left;
  /* display: inline; */
  width: 1000px;
}

.tutorialContentBlock i {
  padding: 1rem;
}

.tutorialContentBlock div {
  display: inline;
}
