.footer {
  padding-top: 12rem;
  padding-bottom: 12rem;
  margin-top: auto;
  background-color: #bbb;
}
.footer a {
  /* display: inline; */
  padding: 1rem;
  /* float: left; */
  text-align: center;
}
