.footer {
  padding-top: 12rem;
  padding-bottom: 12rem;
  margin-top: auto;
  background-color: #bbb;
  text-align: center;
}
.footer a {
  padding: 1rem;
  text-align: center;
  color: rgb(25, 109, 194);
  text-decoration: none;
  font-weight: bold;
}

.loadingInstructions a,
.commandShortcut a {
  color: rgb(25, 109, 194);
  text-decoration: none;
  font-weight: bold;
}
