.footer {
  z-index: 2;
  padding-top: 4rem;
  padding-bottom: 4rem;
  margin-left: 16rem;
  margin-top: auto;
  background-color: #bbb;
}
.footer a {
  /* display: inline; */
  padding: 1rem;
  float: left;
  text-align: center;
}
